<li class="">
    <a class="btn btn-danger"asp-controller="Employee" asp-action="SearchResult">SearchResult</a>
</li>
<li class="">
    <a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQL">DynamicSQL</a>
</li>
<li class="">
    <a class="btn btn-danger" asp-controller="DynamicSQL" asp-action="Index">DynamicSQL</a>
</li>
<li class="">
    <a class="btn btn-danger" asp-controller="Cars" asp-action="Index">Cars</a>
</li>